#Config file with variables.
#Must to be named config.json
#Must have de following variables

{
  "production": {
    "wit_token": "PROD_WIT_TOKEN_CODE",
    "slack_token": "PROD_SLACK_BOT_TOKEN",

  	"opsbot_id": "PROD_BOT_ID (TO DISCARD MESSAGE)",
  	"error_channel_id": "PROD_ERROR_CHANNEL_NAME (TO PRINT ERRORS) MUST BE A USERNAME"
  },
  "development": {
    "wit_token": "DEV_WIT_TOKEN_CODE",
    "slack_token": "DEV_SLACK_BOT_TOKEN",

    "opsbot_id": "DEV_BOT_ID (TO DISCARD MESSAGE)",
    "error_channel_id": "DEV_ERROR_CHANNEL_NAME (TO PRINT ERRORS) MUST BE A USERNAME"
  }
}
